<span *ngIf="!vehicleId">Create a car first.</span>

<div class="vehicle-photo" *ngIf="vehicleId">
  <span *ngIf="vehicleId && photos.length === 0">No photo found for this car.</span>

  <div class="vehicle-photo__album" *ngIf="photos">
    <div class="vehicle-photo__album-frame" *ngFor="let photo of photos">
      <img [src]="photo.thumbnailUrl" class="vehicle-photo__album-img">
    </div>
  </div>

  <label for="photo-upload" class="vehicle-photo__upload">
    {{ photoUploadPercentage > 0 ? 'Uploading %' + photoUploadPercentage : 'Upload'}}
  </label>
  <input id="photo-upload" type="file" class="hidden" (change)="onPhotoSelect($event)">
</div>