<div *ngIf="queryResult" class="vehicles">
  <div class="vehicles__make-filter">
    <label for="make-filter" class="vehicles__make-filter--title">Make:</label>
    <select
      class="vehicles__make-filter--makes" 
      id="make-filter"
      [(ngModel)]="query.makeId"
      (change)="onFilterChange()">
      <option value="" selected></option>
      <option *ngFor="let make of makes" [value]="make.id">{{ make.name }}</option>
    </select>
  </div>

  <div class="vehicles__table">
      <h2 class="vehicles__table--id">ID</h2>

      <h2 
        *ngFor="let column of sortableColumns" 
        [class]="'vehicles__table--' + column.title.toLowerCase()"
        (click)="sortBy(column.key)">
        {{ column.title }}
        <img
          *ngIf="query.sortBy === column.key"
          [src]="query.isSortAscending ? '../../../assets/svg/sort-asc.svg' : '../../../assets/svg/sort-desc.svg'"
          class="vehicles__table--sort">
      </h2>

      <p class="vehicles__table--view">&nbsp;</p>

      <ng-container class="vehicles__table--row" *ngFor="let vehicle of queryResult.items">
        <p>{{ vehicle.id }}</p>
        <p>{{ vehicle.make.name }}</p>
        <p>{{ vehicle.model.name }}</p>
        <p>{{ vehicle.contactName }}</p>
        <button type="button" class="vehicles__table--view-btn" (click)="onVehicleView(vehicle.id)">View/Edit</button>
      </ng-container>
  </div>
</div>