<div *ngIf="vehicles" class="vehicles">
  <div class="vehicles__make-filter">
    <label for="make-filter" class="vehicles__make-filter--title">Make:</label>
    <select
      class="vehicles__make-filter--makes" id="make-filter"
      (change)="onMakeFilterChange(+$event.target.value)">
      <option value="-1" selected></option>
      <option *ngFor="let make of makes" [value]="make.id">{{ make.name }}</option>
    </select>
  </div>

  <div class="vehicles__table">
      <h2 class="vehicles__table--id">ID</h2>
      <h2 class="vehicles__table--make" (click)="onSortByMake()">
        Make
        <img 
          *ngIf="isSorted[0] !== null"
          [src]="isSorted[0] ? '../../../assets/svg/sort-asc.svg' : '../../../assets/svg/sort-desc.svg'"
          class="vehicles__table--sort">
      </h2>
      <h2 class="vehicles__table--model" (click)="onSortByModel()">
        Model
        <img 
          *ngIf="isSorted[1] !== null"
          [src]="isSorted[1] ? '../../../assets/svg/sort-asc.svg' : '../../../assets/svg/sort-desc.svg'"
          class="vehicles__table--sort">
      </h2>
      <h2 class="vehicles__table--name" (click)="onSortByContactName()">
        Name
        <img 
          *ngIf="isSorted[2] !== null"
          [src]="isSorted[2] ? '../../../assets/svg/sort-asc.svg' : '../../../assets/svg/sort-desc.svg'"
          class="vehicles__table--sort">
      </h2>
      
      <p class="vehicles__table--view">&nbsp;</p>
      <ng-container class="vehicles__table--row" *ngFor="let vehicle of filteredVehicles">
        <p>{{ vehicle.id }}</p>
        <p>{{ vehicle.make.name }}</p>
        <p>{{ vehicle.model.name }}</p>
        <p>{{ vehicle.contactName }}</p>
        <button type="button" class="vehicles__table--view-btn">View/Edit</button>
      </ng-container>
  </div>
</div>