.vehicles {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__make-filter {
    margin-top: 2rem;

    display: flex;

    &--title {
      font-size: 2rem;
      margin-right: 1rem;
    }
    
    &--makes {
      width: 15rem;
      border: 1px solid grey;
      border-radius: 3px;
      font-size: 1.8rem;
    }
  }

  &__table {
    margin-top: 2rem;
    border-collapse: collapse;
  
    th,
    td {
      border: 1px solid grey;
      padding: 5px;
    }
  
    &--vehicle-row {
      cursor: pointer;
  
      &:hover {
        background-color: lightgrey;
      }

      &-edit {
        text-decoration: underline;
        font-style: italic;
        cursor: pointer;
      }
    }
  }
}